---
interface Props {
  title: string;
  description?: string;
  image?: string;
  siteUrl?: string;
}

const siteMetadata = {
  title: 'Phil Cunliffe',
  description: "Phillip Cunliffe's Digital Garden",
  image: 'icons/icon-512x512.png',
  siteUrl: 'https://www.philcunliffe.dev',
};

const {
  title,
  description = siteMetadata.description,
  image = siteMetadata.image,
  siteUrl = '',
} = Astro.props;

const fullTitle = `${title} | ${siteMetadata.title}`;
const fullUrl = `${siteMetadata.siteUrl}/${siteUrl}`;
const fullImage = `${siteMetadata.siteUrl}/${image}`;
---

<title>{fullTitle}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={fullUrl} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={fullImage} />

<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={fullUrl} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={fullImage} />
